/* index.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    margin-right: 10px;
}

header .logo {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.features, .about {
    padding: 1rem 0;
    background-color: #f9f9f9;
}

.features .container, .about .container {
    max-width: 814px;
    margin: 0 auto;
}

.features h2, .about h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.feature {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature-info {
    max-width: 600px;
}

.feature-info h3 {
    margin-top: 0;
}

.about p {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.banner{
    height: 632px;
}