<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmCast Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/kufre.css') }}">
    <!-- Link to your CSS file for styling -->
</head>

<body>
    <div class="container login-container">
        <img src="{{ url_for('static', filename='images/farmlogo.png') }}" alt="FarmCast Logo" class="login-logo">
        <h2>Login to FarmCast</h2>
        <form id="login-form">
            <div class="form-group login-input-box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group login-input-box">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a></p>
    </div>
    <script src="{{ url_for('static', filename='JS/auth.js') }}"></script> <!-- Link to your JavaScript file -->
</body>

</html>